GROQ_API_KEY=?
OPENAI_API_KEY=?
BOT_DISCORD_PREFIX="!simbora"
BOT_DISCORD_TOKEN=?
BOT_TELEGRAM_TOKEN=?
SIMBORA_API_URI=?
ENDPOINT_QUERY_AI_MAX_SIZE=300
ENDPOINT_QUERY_FEEDBACK_CLASSIFY_MAX_SIZE=800
ENDPOINT_EMBEDDING_TEXT_MAX_SIZE=800
ENDPOINT_EMBEDDING_MODEL=text-embedding-3-small
ENDPOINT_FEEDBACK_MODEL=llama3-8b-8192
GROQ_FEEDBACK_KEY=?
CHROMA_EMBEDDING_MODEL=text-embedding-3-small
KNOWLEDGE_PDF_DIR=./knowledge
CHROMA_PERSIST_DIR=./chroma_db
